
* {margin: 0;padding: 0;}
/*================================= MIS ESTILOS ==========================*/

.colorAhorra {color: #014f98;}
.bg-s1{background-image:url("https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/ahorra-sub/car-bot.webp");background-size:contain;width:100%;background-repeat: no-repeat; background-position: -3% 81%;}
.svg-inline--fa.fa-w-16 {width: 1em;}
.font-weight {font-weight: bold;}
.separador {width: 100%!important;height: 30px;}
.c-gray{font-size: 16px;font-size: 1rem;text-align: left;color: #888;}
.bg-ahorra{background-color: #014f98;}
.banner-principal{max-width: 500px;width: 100%;}
.promos{font-size: larger;color:#014f98;}
/*Formulario*/  
.form {padding: 4px 5px;    }
.form select,.form input {color:#444;height: 100px;border-radius: 5px;padding: 0 5px;}
.form select, .form input { color: #444;height: 56px;border-radius: 5px;padding: 0 5px;}
.form select:focus,.form input:focus {box-shadow: 0 0 0 3px #007bff;}
.form select.is-invalid,.form input.is-invalid {box-shadow: 0 0 0 2px #ff0000;}
.form-control::-webkit-input-placeholder { color: #444444 !important;}

.checkBox {margin:0 auto;}
.checkBox label,
.checkBox b {font-size:10px;color: #1b1b1b;}
.check b {color: #556;} 
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {margin-top: -3px;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {margin-top: -3px;}
.btnform {margin: auto;}
.btnform button {color: #fff;border-radius: 5px;width: 100%;height: 50px;font-size: 25px;padding: 5px 0;margin: 0 0 15px -1%;}
.circ-m{padding-left: 2.3rem;}
ul  li {text-decoration: none;list-style: none;}
.datos-a .datos-c{color: rgb(61, 60, 60) !important;}
.cotiza-h3{font-size: 22px;}
.cotiza-h2{font-size: 22px;}
.security-text {opacity: .3; font-size:13px; display: inline-block;}
.cotizarGratis {font-size: 21px;display:inline-block;}
.btn-10{font-size: 21px;display:inline-block;}
.checkf,.checkm {font-size: 10px;}
.check {width:35px;height: 35px; rotate: 270deg;}
.detalle{color: #444;font-size: 15px;}
.dot1:before, .dot2:before {content: '';height: 100%;width: 1px;border: 2px dashed #f3f3f3;display: block;left:58px;bottom: -60px;position: absolute;z-index: -1;}
.priv{font-size: 10px;}
/*=========Sprite========*/
.qualitas{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-295px 3px;width:80px;height:50px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.gnp{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-382px 0px;width:80px;height:50px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.axa{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-457px 0px;width:80px;height:50px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.banorte{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-529px 0px;width:80px;height:50px;display:block;background-repeat:no-repeat;background-size: 1200px; }
.hdi{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-628px 0px;width:80px;height:50px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.inbursa{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-704px 0px;width:80px;height:50px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.elaguila{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-785px 0px;width:80px;height:50px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.migo{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-860px 0px;width:80px;height:50px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.mapfre{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-931px 0px;width:80px;height:50px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.aba{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-1006px 0px;width:80px;height:80px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.atlas{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-1087px -7px;width:85px;height:80px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.uno{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-405px -92px;width:80px;height:75px;display:block;background-repeat:no-repeat;}
.dos{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-485px -92px;width:80px;height:75px;display:block;background-repeat:no-repeat;}
.tres{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-568px -92px;width:80px;height:75px;display:block;background-repeat:no-repeat;}
.best-price{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:10px -92px;width:80px;height:75px;display:block;background-repeat:no-repeat;} 
.faceb{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-72px -89px;width:58px;height:37px;display:block;background-repeat:no-repeat;}
.star{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-157px -85px;width:58px;height:27px;display:block;background-repeat:no-repeat;}
.google{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-114px -90px;width:51px;height:40px;display:block;background-repeat:no-repeat;}
.dc-ekomi{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-202px -92px;width:81px;height:70px;display:block;background-repeat:no-repeat;} 
.dg-cert{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-222px -64px;width:106px;height:70px;display:block;background-repeat:no-repeat;background-size: 1200px;}
.icon-tel{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-240px 0px;width:40px;height:46px;display:block;background-repeat:no-repeat;}  
.security{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-248px 0px;width:47px;height:21px;display:inline-block;background-repeat:no-repeat;background-size: 1200px;} 
.chevron{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-168px 11px;width:30px;height:30px;display:inline-block;background-repeat:no-repeat;background-size: 900px;position: relative;}   
.logo-ahorra-blanco{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:3px -40px;width: 219px;height:44px;display:block;background-repeat:no-repeat;}  
.logo-ahorra-azul{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-2px -2px;width: 219px;height:43px;display:inline-block;background-repeat:no-repeat;}          
.atencion{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:3px -2px;width: 223px;height:44px;display:block;background-repeat:no-repeat;} 
.logo-ahorrablanco-m{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-846px -128px;width: 160px;height:44px;display:block;background-repeat:no-repeat;}
.icon-tel-m{background-image:url(~static/img/sprite-ahorra-seguros.svg);background-position:-1012px -90px;width:30px;height:30px;display:block;background-repeat:no-repeat;}            
.ul-noli {list-style: none;float: left;padding: 3px 0;font-size: 18px;} 
ul.ul-noli li{float:left;}
ul.slides{list-style:none;padding:0;list-style: none;}
ul.slides li{float:left;} 
body{margin: 0; padding: 0px;}

.car-moni{width: 500px;}
.circle-f{height: 35px;width:35px;border-radius: 50%;border:1px solid #cce4ff;position: absolute;display: block;top: 16px;left: -20px;background-color: white;}
.c-calificacion{height: 70px;width:70px;border-radius: 50%;display: flex; align-content: center;background-color:#dfdfdf;}
.r-promo {height: 100px;width: 350px;border:1px solid white; background-color: white; border-radius:20px}
.triangulo {width: 0;height: 0;border: solid transparent 23px;border-right-color: white; margin: .5em auto;margin-top: 73px;}
/*===============================Thank you ==========================================================*/
.ahorrabot{background-image:url("/img/assets/ahorrabot.png");background-repeat:no-repeat;background-size: contain;width: 250px;height: 350px; margin-top: 100px;}
.gracias-auto-back{background-image:url("/img/assets/gracias-auto-back.png");background-position:right;background-repeat:no-repeat;background-size: contain;height:auto;}
.gratting-thankyou{background-color: white; border-radius:20px;box-shadow: 0px 0px 12px 5px rgba(119,119,119,0.3)}
.triangulo-tky {width: 0;height: 0;border: solid transparent 25px;border-right-color:#dfdfdf; margin: .5em auto;margin-top: 71px;}
.gretting { margin-top: 80px;}
.table .thead-dark th {color: #fff;background-color: #014f98;border-color: #014f98;}
.gt-n{font-size: 30px;}  
.gt-a{font-size: 16px;} 
/*PROMOS*/
/*Vista Desktop*/
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;}
.adornosPromo{border:4px dotted red;border-radius:6px;}
.labelPromo{position:absolute;top:-10px;left:-28px;background:red;color:#fff;border-radius:10px;padding:0px 12px;}
.descuentosPromo{background:#fb6c06;color:#fff;text-align:center;font-weight:bold;font-size:1.1rem;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1.1rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
/*Vista mobile*/
@media (min-width: 240px) and (max-width: 520px) {  
/* .labelPromo{position:absolute;top:-10px;left:20px;background:red;color:#fff;border-radius:10px;padding:0px 12px;}*/
.descuentosPromo{background:#fb6c06;color:#fff;text-align:center;font-weight:bold;font-size:.8rem;margin-bottom:0;padding:0.3rem 0.2rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:.8rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
}

/*===============================Media Queries==========================================================*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .logo-ahorra-azul{display:  block !important;}
  .bg-s1{background-image:url("https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/ahorra-sub/car-bot.webp");background-position: -3% 0%;}
}
@media (min-width: 768px) and (max-width: 1024px) {
  .faceb {background-position: -77px -89px;width: 30px;height: 36px;}
  .google {background-position: -116px -89px;width: 30px;height: 36px;}
  .better {margin-left: 20px;}
  .dg-cert{margin-left: 40px;}
  .gratting-thankyou {margin-top: -131px;padding-top: 0px;margin-left: -13px;} 
  .triangulo-tky {margin-left: 42px;margin-top: 72px;}
  .gretting{margin-top: 0px;padding-top: 0px !important;}
  .logo-ahorra-azul{display:  block !important;}
  .logo-ahorrablanco-m{display: block !important;}
  .bg-s1{background-image:url("https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/ahorra-sub/car-bot.webp");background-position: -3% 0%;}
  .check-m, .check-f{font-size: 11px;}
}

@media (min-width: 481px) and (max-width: 767px) { 
 .header-blue{background-color: #014f98;}
  #marca,#modelo,#descripcion,#detalle,#clave,#edad,#cp,#nombre,#correo,#telefono,#genero{font-size: 14px;}
 .best-price{margin-left: 22px;}
 .dc-ekomi{margin-left: 58px;}  
 .horarios{color: #fff !important;}
 .faceb {background-position: -76px -90px;width: 30px;height: 36px;display: block;background-repeat: no-repeat;}
 .google {background-position: -117px -91px;width: 30px;height: 36px;display: block;background-repeat: no-repeat;}
 .gratting-thankyou {margin-top: -131px;padding-top: 0px;} 
 .gretting {margin-top: 0px;}
 .check-m, .check-f{font-size: 17px;}
 .bg-s1{background-image:url("https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/ahorra-sub/car-bot.webp");background:#014f98;height: auto;}
}

@media (min-width: 321px) and (max-width: 480px) {
 #marca,#modelo,#descripcion,#detalle,#clave,#edad,#cp,#nombre,#correo,#telefono,#genero{font-size: 14px;}
.elmejor{font-size: 1.5rem !important;}
.header-blue{background-color: #014f98;}
.horarios{font-size: 9px;color: #fff !important;}
.opiniones{font-size: 10px;}
.dc-ekomi{margin-left: 3px;}
.gretting {margin-top: 0px;}
.btn-10{font-size: 20px;}
.bg-s1{background-image:url("https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/ahorra-sub/car-bot.webp");background:#014f98;height: auto;}
}
@media (min-width: 240px) and (max-width: 320px) {
#marca,#modelo,#descripcion,#detalle,#clave,#edad,#cp,#nombre,#correo,#telefono,#genero{font-size: 14px;}
.elmejor{font-size: 1.5rem !important;}
.header-blue{background-color: #014f98;}
.horarios{font-size: 8px;color: #fff !important;}
.opiniones{font-size: 10px;}
.gt-n{font-size: 18px;}  
.gt-a{font-size: 16px;} 
.detalle{margin-top: 10px; }
.gracias-auto-back {margin-top: 0;padding-top: 0;}
.gretting{margin-top: 0px;padding-top: 0px !important;}
.cotizarGratis{font-size: 16px;}
.btn-10{font-size: 16px;}
.bg-s1{
  background-image:url("https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/ahorra-sub/car-bot.webp");
  background-color:#014f98;
  background-position: bottom;
  height: auto;
}
} 

