<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <!-- -->
    <a class="botonTop" href="#formcotizar">
      <svg class="check"><use xlink:href="#proximo" /></svg>
    </a>
    <!-- -->
  </div>
</template>
<script>
export default {
   created: function () {
          this.$store.state.config.urlRedireccion = '';
        },
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>
<style scoped>
.arrow {
    font-size: 40px;
}

.botonTop {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 8px;
    z-index:99;
    background-color: #00d752;
  }
.botonTop:hover {
    background-color: #05ca57;
    color: white;
}



</style>
