<template>
  <div class="row mx-0" id="cookies">
      <div class="alert alert-secondary alert-dismissible  mb-0" role="alert">
          <p class="mb-0 ms-5">Al navegar en este sitio aceptas el uso de cookies, las cuales nos ayudan a 
              mejorar tu experiencia de navegación. <ModalCookies /></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click="cerrarModal"></button>
      </div>
  </div>
</template>

<script>
import ModalCookies from '~/components/common/ModalCookies.vue'
export default {
components: {
  ModalCookies
},
data(){
  return{
    switchModal:false,
    switchModalclass:false
  }
},
methods:{
  cerrarModal(){
    var x = document.getElementById("cookies");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
}
}
</script>

<style scoped>
#cookies{
  position: fixed;
  z-index: 99;
  width: 100%;
  bottom: 0;
}
</style>