<template>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="colorAhorra font-weight elmejor">
					El mejor comparador de seguros de autos en México
				</h1>
				<span class="c-gray pt-0 mt-0 pb-2 mb-3" style="display: inline-block"
					>Compara tu seguro de auto al mejor costo, es la mejor forma de
					ahorrar</span
				>
			</div>
			<div class="container-fluid">
				<div class="d-flex align-items-center justify-content-around flex-wrap">
					<div class="d-flex gap-2 ">
						<div class="best-price" />
						<p class="font-weight-bold better">
							Mejor Precio <br />
							Garantizado
						</p>
					</div>
					<!--Facebook-->
					<div>
						<div class="row">
							<div class="col-3 col-sm-3 col-md-2 text-right"></div>
							<div
								class="col-8 col-sm-8 col-md-8 ms-0 ps-0 position-relative"
							>
								<span class="faceb circle-f"></span>
								<div class="c-calificacion pt-3" style="">
									<span class="pt-1 ps-3" style="">4.2</span>
									<span class="star"></span>
								</div>
							</div>
						</div>
					</div>
					<!--Google-->
					<div class="ms-2 d-flex position-relative align-items-center gap-1">
						<span class="google circle-f"></span>
						<div class="c-calificacion d-flex align-items-center justify-content-center ps-3">
							<span>4.2</span>
							<span class="star"></span>
						</div>
						<div
							class="d-none d-sm-none d-md-block d-lg-block text-left ms-0 ps-1 c-gray opiniones"
						>
							<p style="font-size: 14px">
								Opiniones de <br />
								Ahorraseguros
							</p>
						</div>
					</div>
					<div>
						<span class="dc-ekomi" />
					</div>
					<div>
						<span class="dg-cert"> </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
