<template>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-3 offset-md-4 text-center mt-2 mb-1">
        <img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/prod_asmx/ahorraseguros.mx/wp-content/themes/nexoslab/assets/logotipos/logotipo.webp" alt="logoa" width="201" height="34">
      </div>   
        </div>
        <div hidden>
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol viewBox="0 0 28.347 28.347" id="proximo"><title>proximo</title><path fill="#fff" d="M20.088 13.293L10 3.006c-.464-.472-1.278-.472-1.741 0a1.257 1.257 0 000 1.75l9.227 9.411-9.227 9.411a1.255 1.255 0 000 1.75c.235.24.536.367.87.367.335 0 .635-.127.871-.367l10.087-10.286a1.256 1.256 0 000-1.749z"></path></symbol>
          <symbol viewBox="0 0 28.347 28.347" id="backToTop"><title>backToTop</title><path fill="#fff" d="M20.088 13.293L10 3.006c-.464-.472-1.278-.472-1.741 0a1.257 1.257 0 000 1.75l9.227 9.411-9.227 9.411a1.255 1.255 0 000 1.75c.235.24.536.367.87.367.335 0 .635-.127.871-.367l10.087-10.286a1.256 1.256 0 000-1.749z"></path></symbol>
          <symbol id="error" viewBox="0 0 475.2 475.2"><title>error</title><path fill="red" d="M342.3,132.9c-5.3-5.3-13.8-5.3-19.1,0l-85.6,85.6L152,132.9c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1 l85.6,85.6l-85.6,85.6c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.6-85.6l85.6,85.6c2.6,2.6,6.1,4,9.5,4 c3.5,0,6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1l-85.4-85.6l85.6-85.6C347.6,146.7,347.6,138.2,342.3,132.9z"/></symbol>
          <symbol id="check" viewBox="0 0 490.4 490.4"><title>check</title><path fill="green" d="M309.4,185.5l-94,93.5l-34.3-34.5c-4.8-4.8-12.5-4.8-17.3-0.1c-4.8,4.7-4.8,12.5-0.1,17.3l42.9,43.2 c2.4,2.4,5.5,3.6,8.7,3.6c3.1,0,6.2-1.2,8.6-3.6l102.7-102.1c4.8-4.8,4.8-12.5,0.1-17.3C321.9,180.7,314.2,180.7,309.4,185.5z"/></symbol>
          <symbol id="check-table" viewBox="0 0 490.4 490.4"><title>check-table</title><path fill="#023f1b" d="M309.4,185.5l-94,93.5l-34.3-34.5c-4.8-4.8-12.5-4.8-17.3-0.1c-4.8,4.7-4.8,12.5-0.1,17.3l42.9,43.2 c2.4,2.4,5.5,3.6,8.7,3.6c3.1,0,6.2-1.2,8.6-3.6l102.7-102.1c4.8-4.8,4.8-12.5,0.1-17.3C321.9,180.7,314.2,180.7,309.4,185.5z"/></symbol>
          <symbol id="carrito-compra" viewBox="0 0 512.001 512.001"><title>carrito-compra</title><g> <g> <path fill="#fff" d="M503.142,79.784c-7.303-8.857-18.128-13.933-29.696-13.933H176.37c-6.085,0-11.023,4.938-11.023,11.023 c0,6.085,4.938,11.023,11.023,11.023h297.07c5.032,0,9.541,2.1,12.688,5.914c3.197,3.88,4.475,8.995,3.511,13.972l-44.054,220.282 c-1.709,7.871-8.383,13.366-16.232,13.366H184.323L83.158,36.854C77.69,21.234,62.886,10.74,45.932,10.74 c-0.005,0-0.011,0-0.017,0c-14.38,0.496-28.963,0.491-32.535,0.248c-3.555-0.772-7.397,0.22-10.152,2.976 c-4.305,4.305-4.305,11.282,0,15.587c3.412,3.412,4.564,4.564,43.068,3.23c7.22,0,13.674,4.564,15.995,11.188l103.618,311.962 c1.499,4.503,5.71,7.545,10.461,7.545h252.982c18.31,0,33.841-12.638,37.815-30.909l44.109-220.525 C513.503,100.513,510.544,88.757,503.142,79.784z"/> </g> </g><g> <g> <path fill="#fff" d="M424.392,424.11H223.77c-6.785,0-13.162-4.674-15.46-11.233l-21.495-63.935c-1.94-5.771-8.207-8.885-13.961-6.934 c-5.771,1.935-8.874,8.19-6.934,13.961l21.539,64.061c5.473,15.625,20.062,26.119,36.31,26.119h200.622 c6.085,0,11.023-4.933,11.023-11.018S430.477,424.11,424.392,424.11z"/> </g> </g><g> <g> <path fill="#fff"  d="M231.486,424.104c-21.275,0-38.581,17.312-38.581,38.581s17.306,38.581,38.581,38.581s38.581-17.312,38.581-38.581 S252.761,424.104,231.486,424.104z M231.486,479.22c-9.116,0-16.535-7.419-16.535-16.535c0-9.116,7.419-16.535,16.535-16.535 c9.116,0,16.535,7.419,16.535,16.535C248.021,471.802,240.602,479.22,231.486,479.22z"/> </g> </g><g> <g> <path fill="#fff" d="M424.392,424.104c-21.269,0-38.581,17.312-38.581,38.581s17.312,38.581,38.581,38.581 c21.269,0,38.581-17.312,38.581-38.581S445.661,424.104,424.392,424.104z M424.392,479.22c-9.116,0-16.535-7.419-16.535-16.535 c0-9.116,7.419-16.535,16.535-16.535c9.116,0,16.535,7.419,16.535,16.535C440.927,471.802,433.508,479.22,424.392,479.22z"/> </g> </g></symbol>
          </svg>
        </div>
  </div>
</template> 
<style scope>
.logo-ahorra-azul{display: block !important;}
</style>