<template>
	<div class="container-fluid">
		<div class="row py-2 px-2">
			<!--Logo-laptop-->
			<div
				class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 px-0 text-white px-0 my-auto"
			>
				<a class="navbar-brand px-0 float-left" href="/" target="_blank">
					<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/prod_asmx/ahorraseguros.mx/wp-content/themes/nexoslab/assets/logotipos/logotipo.webp" alt="logoa" width="201" height="34" />
				</a>
			</div>
			<!-- <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 px-0 d-block d-sm-block d-md-none d-lg-none">
					<a class="navbar-brand px-0 float-left" href="/" target="_blank">
							<span class="logo-ahorrablanco-m"></span>

					</a>
			</div> -->
			<!--contacto lap-->
			<div
				class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-white px-0 d-none d-sm-none d-md-block d-lg-block"
			>
				<span class="float-end">
					<a
						id="idTelDID"
						class="navbar-text d-block text-decoration-none py-0"
						:href="'tel:55' + $store.state.config.telefonoAS"
						rel="nofollow"
						role="button"
					>
						<span class="d-inline-block">
							<span class="icon-tel"></span>
						</span>

						<span
							class="d-inline-block horarios pb-1 text-white text-center ps-0 ms-0"
						>
							<span class="d-block">
								<!-- Lun a Sab/8am-9pm -->
								Llama gratis
							</span>
							<span class="d-block telefono pt-0">
								<span class="font-weight-bold text-center">
									(55){{ this.$store.state.config.telefonoAS }}
								</span>
							</span>
						</span>
					</a>
				</span>
			</div>
			<!--contacto mobile-->
			<div
				class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-white px-0 d-block d-sm-block d-md-none d-lg-none"
			>
				<span class="float-end">
					<a
						class="navbar-text d-block text-decoration-none py-0"
						:href="'tel:55' + $store.state.config.telefonoAS"
						rel="nofollow"
						role="button"
					>
						<span class="d-inline-block px-0">
							<span class="icon-tel-m"></span>
						</span>
						<span class="d-inline-block horarios pb-1 text-center">
							<span class="d-block">
								<!-- Lun a Sab/8am-9pm -->
								Llama gratis
							</span>
							<span class="d-block telefono pt-0">
								<span class="font-weight-bold text-center">
									(55){{ this.$store.state.config.telefonoAS }}
								</span>
							</span>
						</span>
					</a>
				</span>
			</div>
		</div>
	</div>
</template>
