<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mt-2">
         <img src="/img/loadgif.gif" alt="Espera un momento" style="width:60px"><br>
         <span class="fw-boldcolor-Gray" style="font-size:20px">Obteniendo el mejor precio para tu seguro.</span>
       </div>
     </div>
    </div>
  </div>
</template>