<template>

    <div class="container-fluid">
      <div class="separador"></div>
       <div class="separador"></div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <ul class="slides d-flex gap-2 flex-wrap">
                        <li class="">
                          <div class="qualitas"></div>
                        </li>
                        <li class="">
                          <div class="gnp"></div>
                        </li> 
                        <li class="">
                          <div class="axa"></div>
                        </li>
                         <li class="">
                          <div class="banorte"></div>
                        </li>
                        <li class="">
                          <div class="hdi"></div>
                        </li>  
                         <li class="">
                          <div class="inbursa"></div>
                        </li>
                        <li class="">
                          <div class="elaguila"></div>  
                        </li>
                        <li class="">
                          <div class="migo"></div>
                        </li>
                         <li class="">
                          <div class="mapfre"></div>
                        </li>
                         <li class="">
                          <div class="aba"></div>
                        </li>
                        <li class="">
                          <div class="atlas"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</template>