<template>
  <div>
    <BotonArriba />
    <nuxt/>
    <footer-component/>
  </div>
</template>

<script>
  import FooterComponent from '~/components/common/Footer.vue'
  import BotonArriba from '~/components/common/boton-arriba.vue'
  export default {
    components: {
      FooterComponent,
      BotonArriba,
    }
  }
</script>


