<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-s1 header-blue"
        >
          <header-component />
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <promociones-component />
              &nbsp;
            </div>
            <div
              class="col-12 col-sm-12 col-md-6 col-lg-6"
              style="background-color:#fff;"
            >
              <form-component />
            </div>
          </div>
        </div>
        <sprite-component />
        <elmejor-component />
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-0 mt-5">
          <h3 class="text-center colorAhorra titles font-weight-bold p-2">
            ¿Cómo Cotizar un Seguro de Auto en Ahorra Seguros?
          </h3>
        </div>
      </div>
      <div class="row">
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-5 offset-lg-1 text-center my-auto"
        >
          <picture>
            <source
              class="banner-principal"
              type="image/webp"
              srcset="/img/assets/bot-and-page.webp"
            />
            <source
              class="banner-principal"
              type="image/png"
              srcset="/img/assets/bot-and-page.png"
            />
            <img
              class="banner-principal"
              width="500"
              height="300"
              src="/img/assets/bot-and-page.png"
              alt="Ahorra Seguro banner"
            />
          </picture>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                  <span class="uno dot1"></span>
                </div>
                <div class="col-8">
                  <h4 class="colorAhorra font-weight-bold ">
                    Ingresa los datos de tu auto para comparar
                  </h4>
                  <p>
                    Modelo del auto, Marca del auto, Submarca del auto,
                    Descripci&oacute;n, C.P. (Donde circular&aacute;), Fecha de
                    nacimiento (En muchas ocasiones puedes recibir un descuento
                    extra por tu edad).
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                  <span class="dos dot2"></span>
                </div>
                <div class="col-9">
                  <h4 class="colorAhorra font-weight-bold">
                    Elige entre los mejores resultados encontrados en el
                    comparador
                  </h4>
                  <p>
                    Te mostraremos un listado de los mejores precios y
                    aseguradoras disponibles, Comparamos: coberturas, precios,
                    beneficios, meses sin intereses y m&aacute;s. Elige la que
                    se adapte a tus necesidades
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                  <span class="tres"></span>
                </div>
                <div class="col-9">
                  <h4 class="colorAhorra font-weight-bold">
                    Registra tu auto y paga
                  </h4>
                  <p>
                    Registra tu auto para que lo aseguremos, elige el
                    m&eacute;todo de pago que te agrade, realiza el pago
                    correspondiente y &iexcl;Felicidades, ya est&aacute;s
                    asegurado en 3 sencillos pasos!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-12 col-lg-12 ">
            <h3 class="colorAhorra font-weight-bold" style="letter-space:1.5px">
              ¡Ahorra Seguros, el cotizador más seguro y rápido de México!
            </h3>
            <div class="separador"></div>
            <p class="justify-text">
              En Ahorra Seguros sabemos de la importancia que tiene el contar
              con un seguro de autos, por ello nosotros te ofrecemos el
              cotizador online de seguros más seguro, rápido y eficiente que
              existe en México, en donde podrás encontrar las mejores coberturas
              ofrecidas en el país.
            </p>
            <p class="justify-text">
              Ahorra Seguros trabaja con las mejores aseguradoras del país, por
              lo que te ofrecemos productos de calidad y una atención
              personalizada, ya que aquí podrás cotizar seguros de autos en solo
              segundos, y nuestros colaboradores estarán siempre pendientes de
              todas tus necesidades.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3 class="colorAhorra font-weight-bold" style="letter-space:1.5px">
              ¡Ahorra Seguros te ofrece las mejores coberturas del país!
            </h3>
            <div class="separador"></div>
            <p class="justify-text">
              Desde AhorraSeguros mx podrás encontrar las coberturas básicas
              manejadas por casi todas las aseguradoras de la República
              Mexicana, tales como:
            </p>
            <ul class="fa-ul text-justify">
              <li>
                <svg class="check"><use xlink:href="#check" /></svg>
                Responsabilidad Civil Daños por la Carga
              </li>
              <li>
                <svg class="check"><use xlink:href="#check" /></svg>
                Cobertura Amplia
              </li>
              <li>
                <svg class="check"><use xlink:href="#check" /></svg>
                Cobertura Limitada
              </li>
              <li>
                <svg class="check"><use xlink:href="#check" /></svg>
                Cobertura de Responsabilidad Civil
              </li>
            </ul>
            <p class="text-jutify">
              Compara, cotiza y contrata una de las mejores coberturas del país
              desde el sitio de Ahorra Seguros, pues aquí encontrarás las
              mejores promociones y descuentos que hay en el mercado, además
              somos uno de los sitios web más rápidos en México, por lo que
              además de dinero te estarás ahorrando tiempo.
            </p>
            <p class="text-justify">
              ¡Haz uso de Ahorra Seguros y conoce el sinfín de opciones que
              tenemos para ti en cuanto a seguros para auto!
            </p>
          </div>

          <div class="col-12 col-sm-12 col-md-6 offset-md-3">
            <button id="" type="submit" class="btn btn-success w-100">
              <div class="row justify-content-md-center">
                <div class="col-12 text-center px-0">
                  <span class="btn-10 p-2">
                    Ver precio de mi seguro
                    <div class="chevron"></div>
                  </span>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import headerComponent from "~/components/common/Header.vue";
import formComponent from "~/components/forms/form.vue";
import spriteComponent from "~/components/common/sprite.vue";
import elmejorComponent from "~/components/common/elmejorcomparador.vue";
import promocionesComponent from "~/components/alerta/promociones.vue";
import getInsurersPromos from "~/plugins/promoData.js";
import telefonoService from "~/plugins/telefonoService.js";

export default {
  layout: "default",
  beforeCreate() {
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.formData.aseguradora = "QUALITAS"
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = false;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "88902529";
    this.$store.state.config.grupoCallback = "VN QUALITAS";
    this.$store.state.config.from = "QUALITAS";
    this.$store.state.config.idPagina = 373;
    this.$store.state.config.idCampana = 43;
    this.$store.state.config.idSubRamo = 35;
    this.$store.state.config.urlRedireccion = "/thanks";
    this.$store.state.config.idMedioDifusion = 3541;
    this.$store.state.config.dominioCorreo = "QUALITAS|ahorrasegurosautos";
    this.$store.state.config.textoSMS =
      "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";

    this.$store.state.config.classMsg = "offset-1 col-10 mt-1";
    this.$store.state.config.classOrnament = "";
  },

  async created() {
    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
console.log( telefono.data.telefono)
      }	
    } catch (error) {
      console.log(error);
    }


try {
  const funnel = await getInsurersPromos("funnel", "segurosautos");

this.$store.state.config.dto = funnel.promo.dto;
this.$store.state.config.msi = funnel.promo.msi;
this.$store.state.config.promoSpecial = funnel.promo.isSpecial;
this.$store.state.config.promoLabel = funnel.promo.label;
this.$store.state.config.promoImg = funnel.promo.urlImg;
this.$store.state.config.extraMsg= funnel.promo.extraMsg;

if (funnel.promo.isSpecial) {
  this.$store.state.config.classMsg =
    "col-8 col-lg-9 mt-3";
  this.$store.state.config.classOrnament = "adornosPromo";
}
} catch (error) {
  console.log(error);
}


  },

  components: {
    headerComponent,
    formComponent,
    spriteComponent,
    elmejorComponent,
    promocionesComponent,
  },
  head() {
    return {
      title: "Ahorra Seguros Autos - Cotiza en 10 Segundos tu Seguro de Auto",
      meta: [
        { name: "viewport", content: "width=device-width, initial-scale=1" },
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Ahorra Seguros, ahorraseguros.mx, Ahorra Seguros Autos, Ahorra Seguros de Autos, Ahorro en Seguro, Ahorra en tu Seguro",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Ahorra Seguros Autos al mejor precio en 10 Segundos. ¡Cotiza y compara tu Seguro de auto con más de 27 Aseguradoras en México!",
        },
        { hid: "author", name: "@Glous", content: "twitter | @vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        { hid: "canonical", rel: "canonical", href: "" },
        { hid: "robots", name: "robots", content: "index, follow" },
      ],
    };
  },
};
</script>
