<template>
<div>
    <div class="container-fluid gracias-auto-back">
        <headerwhite-component/>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2 col-sm-2 col-md-4 col-lg-2 col-xl-2 offset-1 offset-lg-1 text-center pt-1 d-none d-sm-none d-md-block d-lg-block"> 
              <picture>
                <source class="banner-principal"  type="image/webp" srcset="/img/assets/ahorrabot.webp">
                <source class="banner-principal"  type="image/png"  srcset="/img/assets/ahorrabot.png">
                <img class="banner-principal"  width="500" height="300" src="/img/assets/ahorrabot.png" alt="Ahorra Seguro banner" />
              </picture>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-6 gretting ">
              <div class="row">
                <div class="col-8 col-sm-12 col-sm-9 col-md-11 col-lg-9 px-0 mx-auto">
                  <div id="idgraciasAuto" class="gratting-thankyou mt-5 me-3 pt-2 text-center colorAhorra">
                      <h3 class="font-weight">Hola  {{this.$store.state.formData.nombre}}</h3>
                      <h3 class="font-weight-bold gt-a">Encontramos el mejor precio del seguro de tu auto</h3>
                       <p class="detalle text-center mt-2 font-weight pt-3">
                        {{this.$store.state.formData.marca}} {{this.$store.state.formData.modelo}} {{this.$store.state.formData.marca}} {{this.$store.state.formData.detalle}}
                        
                      </p>
                    </div>
                  </div>

              </div>
              
          </div>
          </div>
        </div>
      </div>

      <logica />
    </div>
    <div 
    v-if="this.$store.state.cargandocotizacion == false && this.$store.state.config.loading == false"
      class="col-12 col-sm-12 col-md-7 col-lg-6  gratting-thankyou mt-5 py-1 text-center colorAhorra m-auto mb-2">
      <div class="">
        
        Un  asesor experto se comunicará contigo a la brevedad para asesorarte de forma gratuita.
      </div>
    </div>
    <div v-else>
      <Loading v-if="this.$store.state.config.loading == true" />
    </div>
    <br/>
</div>

</template>
<script>
  import headerwhiteComponent from '~/components/common/Header-white.vue'
  import Loading from '../components/common/loading.vue';
import Logica from '../components/common/logica.vue';
  export default {
    layout: 'thanks',
    components: {
      headerwhiteComponent,
      Logica,
      Loading
    },
    head() {
      return {
        title: 'Ahorra Seguros Autos - Cotiza en 10 Segundos tu Seguro de Auto',
        meta: [
         {hid: 'keywords', name: 'keywords', content: 'Ahorra Seguros, ahorraseguros.mx, Ahorra Seguros Autos, Ahorra Seguros de Autos, Ahorro en Seguro, Ahorra en tu Seguro'}, 
          {hid: 'description', name: 'description', content: 'Ahorra Seguros Autos al mejor precio en 10 Segundos. ¡Cotiza y compara tu Seguro de auto con más de 27 Aseguradoras en México!'}, 
          {hid: 'author', name: 'author', content: 'twitter | @vargasdesignMx'}, 
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'}, 
          {hid: 'canonical', rel: 'canonical', href:''}, 
          {hid: 'robots', name:'robots', content:'index,follow'}, 
        ]
      }
    },
  
  };
  
</script>
<style>
  .asegcolor{color: #0131a6;font-weight: bold;}
  .btnv{display: none;}
  .subtitleh1{color: #888;}
  .h1style{color: #555;}
</style>

