<template>
  <div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-7 offset-lg-4 px-1">
        <div class="contenedorPromo m-auto">
          <div class="container-fluid p-0 m-0" :class="this.$store.state.config.classOrnament">
            <div class="row p-2 m-0">
              <div class="col-4 col-lg-3 px-1 mt-1 m-auto text-center" v-if="this.$store.state.config.promoSpecial">
                <img :src="this.$store.state.config.promoImg" alt="logo promocion" width="100" height="100"
                  class="m-auto img-fluid" />
              </div>
              <div :class="this.$store.state.config.classMsg">
                <p class="descuentosPromo position-relative ">
                  <small class="labelPromo">
                    {{ this.$store.state.config.promoLabel }}
                  </small>
                  {{ this.$store.state.config.dto }}
                </p>
                <div v-if="this.$store.state.config.msi !== ''">
                  <small class="msiPromo mt-1">{{
                    this.$store.state.config.msi
                  }}</small>
                  <small
                    v-if="!this.$store.state.config.msi.toLowerCase().includes('meses')"
                    class="labelendPromo">
                    {{this.$store.state.config.extraMsg}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
