<template>
	<div class="col-12 col-sm-12 col-md-10 col-lg-10">
		<form
			novalidate
			id="formcotizar"
			method="POST"
			action
			@submit.prevent="validateBeforeSubmit('formcotizar')"
		>
			<p class="txtForm my-1 mt-3 text-center fz-12 datos-a">
				Cotiza todas las aseguradoras en 10 segundos
			</p>
			<div class="row">
				<!-- MARCA -->
				<div class="col-6 col-md-6 col-lg-6 form">
					<div class="form-floating">
						<select
							name="marca"
							id="marca"
							v-model="$store.state.formData.marca"
							required=""
							class="form-control form-select"
							@change="getModelos()"
						>
							<option value>Marca</option>
							<option v-for="marca in formData.marcas" v-bind:key="marca.id">
								{{ marca.text }}
							</option>
						</select>
						<small style="display: none; color: red" class="marcaReq">
							<span>El campo marca es requerido</span>
						</small>
					</div>
				</div>

				<!-- MODELO -->
				<div class="col-6 col-md-6 col-lg-6 form">
					<div class="form-floating">
						<select
							name="modelo"
							id="modelo"
							v-model="$store.state.formData.modelo"
							required=""
							class="form-control form-select"
							@change="getDescripciones()"
						>
							<option value>Modelo</option>
							<option v-for="modelo in formData.modelos" v-bind:key="modelo.id">
								{{ modelo.text }}
							</option>
						</select>
						<small style="display: none; color: red" class="modeloReq">
							<span>El campo modelo es requerido</span>
						</small>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- DESCRIPCION -->
				<div class="col-6 col-md-6 col-lg-6 form">
					<div class="form-floating">
						<select
							name="descripcion"
							id="descripcion"
							v-model="$store.state.formData.descripcion"
							required=""
							class="form-control form-select"
							@change="getSubDescripciones()"
						>
							<option value>Submarca</option>
							<option
								v-for="descripcion in formData.descripciones"
								v-bind:key="descripcion.id"
							>
								{{ descripcion.text }}
							</option>
						</select>
						<small style="display: none; color: red" class="descripcionReq">
							<span>El campo Submarca es requerido</span>
						</small>
					</div>
				</div>

				<!-- SUBDESCRIPCION -->
				<div class="col-6 col-md-6 col-lg-6 form">
					<div class="form-floating">
						<select
							title="detalle"
							name="detalle"
							id="detalle"
							v-model="$store.state.formData.clave"
							required=""
							style="overflow: hidden; width: 100%"
							class="form-control form-select"
							@change="detalleSelected()"
						>
							<option value>Descripción</option>
							<option
								v-for="subdescripcion in formData.subDescripciones"
								v-bind:key="subdescripcion.id"
								:value="subdescripcion.id"
							>
								{{ subdescripcion.text }}
							</option>
						</select>
						<small style="display: none; color: red" class="detalleReq">
							<span>El campo Descripción es requerido</span>
						</small>
					</div>
				</div>
			</div>

			<div class="col-12 color-landing-axa datos-c fw-bold text-center fz-12">
				Datos del conductor
			</div>

			<div class="row">
				<!-- EDAD -->
				<div class="col-12 col-md-12 col-lg-12 form">
					<div class="form-floating">
						<select
							name="edad"
							id="edad"
							v-model="$store.state.formData.edad"
							required=""
							class="form-control form-select"
							@change="calculaFechaNacimiento(), warningReq('edadReq')"
						>
							<option value>Edad del conductor</option>
							<option v-for="edad in formData.edades" v-bind:key="edad.id">
								{{ edad.text }}
							</option>
						</select>
						<small style="display: none; color: red" class="edadReq">
							<span>El campo edad es requerido</span>
						</small>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-6 col-md-6 col-lg-6 form">
					<div class="form-floating">
						<select
							class="form-control form-select"
							required=""
							id="genero"
							name="genero"
							v-model="$store.state.formData.genero"
							@change="myFocus('cp'), warningReq('generoReq')"
						>
							<option value="">Género</option>
							<option value="M">Masculino</option>
							<option value="F">Femenino</option>
						</select>
						<small style="display: none; color: red" class="generoReq">
							<span>El campo género es requerido</span>
						</small>
					</div>
				</div>

				<!-- CODIGO POSTAL -->
				<div class="col-6 col-md-6 col-lg-6 form">
					<div class="form-floating">
						<input
							type="tel"
							name="cp"
							id="cp"
							v-model="cp"
							class="form-control"
							required
							placeholder="Código Postal"
							@change="myFocus('nombre')"
						/>
					</div>
					<small style="display: none; color: red" class="cpReq">
						<span>El campo código postal es requerido</span>
					</small>
					<small style="display: none; color: #005f7a" class="cpInc">
						<span>Escribe tu código postal a 5 dígitos</span>
					</small>
				</div>
			</div>

			<div class="row">
				<!-- NOMBRE -->
				<div class="col-12 col-md-12 col-lg-12 form">
					<div class="form-floating">
						<input
							type="text"
							name="nombre"
							id="nombre"
							v-model="nombre"
							required=""
							class="form-control"
							placeholder="Escribe tu nombre"
							@change="space('nombre')"
						/>
					</div>
					<small style="display: none; color: red" class="nombreReq">
						<span>El campo nombre es requerido</span>
					</small>
					<small style="display: none; color: #005f7a" class="nombreInc">
						<span>Escribe el nombre correcto</span>
					</small>
				</div>
			</div>

			<div class="row">
				<!-- CORREO -->
				<div class="col-12 col-md-6 form">
					<div class="form-floating">
						<input
							type="email"
							name="correo"
							id="correo"
							v-model="correo"
							required=""
							class="form-control"
							placeholder="Escribe tu email"
							@change="space('correo')"
						/>
					</div>
					<small style="display: none; color: red" class="correoReq">
						<span>El campo e-mail es requerido</span>
					</small>
					<small style="display: none; color: #005f7a" class="correoInc">
						<span>Ejemplo: tuemail@email.com</span>
					</small>
				</div>
				<!-- TELEFONO -->
				<div class="col-12 form col-md-6 form">
          <div class="form-floating">
            <input
              type="tel"
              name="telefono"
              id="telefono"
              v-model="telefono"
              class="form-control"
              onKeyPress="if(this.value.length === 10) return false;"
              required
              placeholder="Escribe tu teléfono"
              @change="myFocus('btnCotizarAuto')"
            />
          </div>
					<small style="display: none; color: red" class="telefonoReq">
						<span>El campo teléfono requerido</span>
					</small>
					<small style="display: none; color: #005f7a" class="telefonoInc">
						<span>Escribe tu número a 10 dígitos</span>
					</small>
				</div>
			</div>
			<input
				type="text"
				id="gclid_field"
				name="gclid_field"
				value=""
				style="visibility: hidden; display: none"
			/>
			<!-- CHECKBOX -->
			<div class="row">
				<div class="col-12 text-center">
					<avisoPrivacidad-component />
				</div>
			</div>
			<!-- BOTON -->
			<button
				id="btnCotizarAuto"
				type="submit"
				data-loading-text="Cotizando tu auto..."
				class="btn btn-success w-100 fw-bold btn-cotizar"
			>
				<div class="row justify-content-md-center">
					<div class="col-12 text-center px-0">
						<span class="cotizarGratis"> Ver precio de mi seguro </span>
					</div>
				</div>
			</button>
			<div class="row">
				<div class="col-12 text-center px-0">
					<span class="security"></span>
					<span class="security-text pb-1"> Tu información está segura</span>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
import catalogosDirectos from "~/plugins/catalogosDirectos";
import axios from "axios";
import avisoPrivacidadComponent from "~/components/common/aviso-privacidad.vue";

const catalogoDirecto = new catalogosDirectos();
const tokenData = process.env.tokenData;

export default {
	props: {
		config: Object,
	},
	components: {
		avisoPrivacidadComponent,
	},
	data() {
		return {
			formData: {
				marcas: [],
				modelos: [],
				descripciones: [],
				subDescripciones: [],
				detalles: [],
				edades: [],
				telefono: "",
				genero: "",
			},
			telefono: "",
			nombre: "",
			correo: "",
			cp: "",
			ladaValida: 0,
			accessToken: "",
			formValido: 0,
			warning_req: [
				{ id: "marcaReq" },
				{ id: "modeloReq" },
				{ id: "descripcionReq" },
				{ id: "detalleReq" },
				{ id: "edadReq" },
				{ id: "generoReq" },
				{ id: "cpReq" },
				{ id: "nombreReq" },
				{ id: "correoReq" },
				{ id: "telefonoReq" },
			],
		};
	},

	beforeCreate: function () {
		this.$store.commit("validarTokenCore");
	},
	async created() {
		if (!this.$store.state.config.loading) {
			this.$store.state.config.loading = true;
			if (typeof window !== "undefined") {
				window.location.reload();
			}
		}

		if (typeof window !== "undefined") {
			this.$store.state.formData.urlOrigen = window.location.href;
		}

		// INICIO DE LA DETECCION DE UTM
		this.$store.state.formData.utmSource = this.$route.query.utm_source
			? this.$route.query.utm_source
			: "No params detected";
		this.$store.state.formData.utmMedium = this.$route.query.utm_medium
			? this.$route.query.utm_medium
			: "No params detected";
		this.$store.state.formData.utmCampaign = this.$route.query.utm_campaign
			? this.$route.query.utm_campaign
			: "No params detected";
		this.$store.state.formData.utmId = this.$route.query.utm_id
			? this.$route.query.utm_id
			: "No params detected";
		// FIN DE LA DETECCION DE UTM

		this.formData.marcas.length = 0;
		this.formData.modelos.length = 0;
		this.formData.descripciones.length = 0;
		this.formData.subDescripciones.length = 0;
		this.formData.detalles.length = 0;
		this.formData.edades.length = 0;

		if (
			this.$store.state.sin_token === true ||
			this.$store.state.sin_token === "expirado"
		) {
			await this.$store
				.dispatch("getToken")
				.then((resp) => {
					if (typeof resp.data == "undefined") {
						this.accessToken = resp.accessToken;
					} else if (typeof resp.data.accessToken != "undefined") {
						this.accessToken = resp.data.accessToken;
					}
				})
				.catch((error) => {
					console.log("Hubo un problema al generar el token");
					this.$store.state.idEndPoint = 49;
					this.catchStatusAndMessage(error, { tokenData: tokenData });
				});
		} else {
			this.accessToken = this.$store.state.config.accessToken;
		}
		this.getEdades();
		this.getMarcas();
	},
	methods: {
		getMarcas: function () {
			catalogoDirecto
				.marcas()
				.then((response) => {
					if (typeof response.data == "undefined") {
						this.formData.marcas = response;
					} else {
						this.formData.marcas = response.data;
					}
				})
				.catch((error) => {
					console.log("Hubo un problema al cargar las marcas");
					this.$store.state.idEndPoint = 445;
					var data = {
						aseguradora: this.$store.state.formData.aseguradora,
					};
					this.catchStatusAndMessage(error, data);
				});
		},

		getModelos: function () {
			document.getElementById("modelo").focus();
			this.$store.state.formData.modelo = "";
			this.$store.state.formData.descripcion = "";
			this.$store.state.formData.detalle = "";
			this.$store.state.formData.clave = "";
			this.formData.modelos.length = 0;
			this.formData.descripciones.length = 0;
			this.formData.subDescripciones.length = 0;
			this.formData.detalles.length = 0;
			this.warningReq("marcaReq");
			catalogoDirecto
				.modelos(this.$store.state.formData.marca)
				.then((response) => {
					if (typeof response.data == "undefined") {
						this.formData.modelos = response;
					} else {
						this.formData.modelos = response.data;
					}
				})
				.catch((error) => {
					console.log("Hubo un problema al cargar los modelos");
					this.$store.state.idEndPoint = 448;
					var data = {
						aseguradora: this.$store.state.formData.aseguradora,
						marca: this.$store.state.formData.marca,
					};
					this.catchStatusAndMessage(error, data);
				});
		},

		getDescripciones: function () {
			document.getElementById("descripcion").focus();
			this.$store.state.formData.descripcion = "";
			this.$store.state.formData.detalle = "";
			this.$store.state.formData.clave = "";
			this.formData.descripciones.length = 0;
			this.formData.subDescripciones.length = 0;
			this.formData.detalles.length = 0;
			this.warningReq("modeloReq");
			catalogoDirecto
				.submarcas(
					this.$store.state.formData.marca,
					this.$store.state.formData.modelo
				)
				.then((response) => {
					if (typeof response.data == "undefined") {
						this.formData.descripciones = response;
					} else {
						this.formData.descripciones = response.data;
					}
				})
				.catch((error) => {
					console.log("Hubo un problema al cargar las subMarcas");
					this.$store.state.idEndPoint = 447;
					var data = {
						aseguradora: this.$store.state.formData.aseguradora,
						marca: this.$store.state.formData.marca,
						modelo: this.$store.state.formData.modelo,
					};
					this.catchStatusAndMessage(error, data);
				});
		},
		getSubDescripciones: function () {
			document.getElementById("detalle").focus();
			this.$store.state.formData.detalle = "";
			this.$store.state.formData.clave = "";
			this.formData.subDescripciones.length = 0;
			this.formData.detalles.length = 0;

			axios.get("https://api.ipify.org?format=json").then((resp) => {
				if (typeof resp.data == "undefined") {
					this.$store.state.config.ipCliente = resp.ip;
				} else if (typeof resp.data.ip != "undefined") {
					this.$store.state.config.ipCliente = resp.data.ip;
				}
			});

			axios
				.get(
					`${process.env.promoCore}/v1/discount/QUALITAS?business=AS&service=PARTICULAR`
				)
				.then((resp) => {
					if (parseInt(resp.data.discount)) {
						this.$store.state.config.descuento = resp.data.discount;
					} else {
						this.$store.state.config.descuento = 0;
					}
					if (parseInt(resp.data.delay)) {
						this.$store.state.config.time = resp.data.delay;
					} else {
						this.$store.state.config.time = 5000;
					}
				})
				.catch((err) => {
					this.$store.state.config.descuento = 0;
					this.$store.state.config.time = 5000;
				});

			this.warningReq("descripcionReq");
			catalogoDirecto
				.descripciones(
					this.$store.state.formData.marca,
					this.$store.state.formData.modelo,
					this.$store.state.formData.descripcion
				)

				.then((response) => {
					if (typeof response.data == "undefined") {
						this.formData.subDescripciones = response;
					} else {
						this.formData.subDescripciones = response.data;
					}
				})
				.catch((error) => {
					console.log("Hubo un problema al cargar las descripciones");
					this.$store.state.idEndPoint = 449;
					var data = {
						aseguradora: this.$store.state.formData.aseguradora,
						marca: this.$store.state.formData.marca,
						modelo: this.$store.state.formData.modelo,
						descripcion: this.$store.state.formData.descripcion,
					};
					this.catchStatusAndMessage(error, data);
				});
		},
		catchStatusAndMessage(error, data) {
			this.$store.state.status = "";
			if (typeof error.status != "undefined") {
				this.$store.state.status = error.status;
			} else if (typeof error.response != "undefined") {
				if (typeof error.response.status != "undefined") {
					this.$store.state.status = error.response.status;
				}
			}
			if (typeof this.$store.state.status != "number") {
				this.$store.state.status = 500;
			}
			this.$store.state.message = JSON.stringify({
				error: error,
				peticion: data,
			});
		},
		getEdades: function () {
			for (var i = 18; i < 100; i++) {
				this.formData.edades.push({
					id: i,
					text: i,
				});
			}
		},
		detalleSelected(evt) {
			var x = document.getElementById("detalle");
			var i = x.selectedIndex;
			if (this.$store.state.formData.clave != "") {
				this.$store.state.formData.detalle = x.options[i].text;
			} else {
				this.$store.state.formData.detalle = "";
			}
			this.myFocus("edad");
			this.warningReq("detalleReq");
		},
		validateBeforeSubmit() {
			this.formValido = 1;
			for (var w in this.warning_req) {
				//w=indices
				this.warningReq(this.warning_req[w].id);
			}
			if (this.formValido) {
				this.$store.state.config.loading = true;
				document.getElementById("btnCotizarAuto").disabled = true;
				this.$router.push({ path: this.$store.state.config.urlRedireccion });
			} else {
				document.getElementById("btnCotizarAuto").disabled = false;
			}
		},
		myFocus: function (id) {
			setTimeout(alertFunc, 500);
			function alertFunc() {
				if (typeof document != "undefined") {
					var e = document.getElementById(id);
					if (e) {
						e.focus();
					}
				}
			}
		},
		calculaFechaNacimiento() {
			this.$store.state.formData.fechaNacimiento = (
				"01/01/" +
				(new Date().getFullYear() - this.$store.state.formData.edad).toString()
			).toString("dd/MM/yyyy");
		},
		warningReq: function (idWarning) {
			var id = idWarning.substring(0, idWarning.length - 3);
			var elemento = document.getElementById(id);
			if (elemento) {
				//ocultar warningReq
				this.warningView(idWarning, "none");
				let text = elemento.className;
				let result = text.replace(" is-invalid", "");
				let result2 = result.replace(" is-valid", "");
				elemento.className = result2;
				if (id == "cp" && this.$store.state.formData.cp == "") {
					elemento.className = elemento.className + " is-invalid";
					this.formValido = 0;
					if (elemento.value == "") {
						this.warningView(idWarning, "block");
					}
				} else if (id == "nombre" && this.$store.state.formData.nombre == "") {
					elemento.className = elemento.className + " is-invalid";
					this.formValido = 0;
					if (elemento.value == "") {
						this.warningView(idWarning, "block");
					}
				} else if (id == "correo" && this.$store.state.formData.correo == "") {
					elemento.className = elemento.className + " is-invalid";
					this.formValido = 0;
					if (elemento.value == "") {
						this.warningView(idWarning, "block");
					}
				} else if (
					id == "telefono" &&
					this.$store.state.formData.telefono == ""
				) {
					elemento.className = elemento.className + " is-invalid";
					this.formValido = 0;
					if (elemento.value == "") {
						this.warningView(idWarning, "block");
					}
				} else if (
					elemento.value == "" &&
					(idWarning == "marcaReq" ||
						idWarning == "modeloReq" ||
						idWarning == "descripcionReq" ||
						idWarning == "detalleReq" ||
						idWarning == "edadReq" ||
						idWarning == "generoReq")
				) {
					elemento.className = elemento.className + " is-invalid";
					this.warningView(idWarning, "block");
					this.formValido = 0;
				} else {
					elemento.className = elemento.className + " is-valid";
				}
			} else {
				console.log("No existe el elemento con id " + id);
			}
		}, //FIN warningReq
		warningView: function (id, view) {
			var req = document.getElementsByClassName(id);
			if (typeof req[0] != "undefined") {
				req[0].style.display = view;
			}
		}, //FIN warningView
		myTrim_start: function (x) {
			//return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
			return x.replace(/^\s+/, "");
		}, //FIN myTrim
		checkCaracter: function (caracter, tipo) {
			var regExp = "";
			if (tipo == "numero") {
				regExp = /[0-9]/;
			} else {
				regExp = /[A-Za-z\sáéíóúÁÉÍÓÚ\s\t]/;
			}
			//regresa true si el caracter es valido
			return regExp.test(caracter);
		},
		repetirCaracter: function (veces, valor, excepcion) {
			let regExp = new RegExp(`(.)\\1{${veces}}`);
			var result = regExp.exec(valor);
			if (result && valor != excepcion) {
				var inicio = valor.substring(0, result.index);
				var final = valor.substring(result.index + 1, valor.length);
				return inicio + final;
			} else {
				return valor;
			}
		},
		expresionRegularFinal: function (regExp, valor, campo) {
			var result = regExp.exec(valor);
			if (result) {
				this.$store.state.formData[campo] = valor.trim();
				//Oculta advertencia INCORRECTO
				this.warningView(campo + "Inc", "none");
				this.warningReq(campo + "Req");
			} else {
				this.$store.state.formData[campo] = "";
				//Oculta advertencia REQUERIDO
				this.warningReq(campo + "Req");
				//Muestra advertecia INCORRECTO
				this.warningView(campo + "Inc", "block");
			}
		},
		space: function (valor) {
			// debugger
			let cadena = this[valor];
			let primero = cadena.search("@");
			let separado;
			let cad2 = "";
			// se le quita el ultimo
			if ([valor] == "correo") {
				if (primero) {
					separado = cadena.substring(primero + 1, cadena.length).split("@");
					separado.forEach((element) => {
						cad2 += element.replaceAll("@", "");
					});
				}
				cadena = cadena.substring(0, primero + 1) + cad2;
				cadena = cadena.split(" ").join(" ").trim();
				// elimina todos los espacios encontrados
				cadena = cadena.replace(/\s+/g, "");
			} else {
				// se le quita el ultimo espacio
				cadena = cadena.split(" ").join(" ").trim();
			}
			this[valor] = cadena;
		},
	},
	watch: {
		telefono: function () {
			//version2
			if (this.telefono.length > 0) {
				//un caracter al menos
				var ultimoCaracter = this.telefono.substring(
					this.telefono.length - 1,
					this.telefono.length
				);
				var result = this.checkCaracter(ultimoCaracter, "numero");
				if (result) {
					//Buscara si inicia con 0 y lo quitara
					var regExp = /^0/;
					var phone = regExp.test(this.telefono);
					if (phone) {
						this.telefono = this.telefono.substring(1, this.telefono.length);
					}
					//El mismo caracter se puede repetir hasta 4 veces seguidas
					this.telefono = this.repetirCaracter(4, this.telefono, null);
					//valida que sean 10 numeros con expresion regular
					this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
				} else {
					//Guarda valor sin ultimo caracter no numerico
					this.telefono = this.telefono.substring(0, this.telefono.length - 1);
				}
			} else {
				this.$store.state.formData.telefono = "";
				//Oculta advertencia INCORRECTO
				this.warningView("telefonoInc", "none");
				//Muestra advertencia REQUERIDO
				this.warningView("telefonoReq", "block");
			}
		},
		nombre: function () {
			//version2
			//Quita espacios del inicio
			this.nombre = this.myTrim_start(this.nombre);
			if (this.nombre.length > 0) {
				//un caracter al menos
				var ultimoCaracter = this.nombre.substring(
					this.nombre.length - 1,
					this.nombre.length
				);
				var result = this.checkCaracter(ultimoCaracter, "letra");
				if (result) {
					//El mismo caracter se puede repetir hasta 2 veces seguidas
					this.nombre = this.repetirCaracter(2, this.nombre, null);
					//valida nombre con expresion regular
					this.expresionRegularFinal(
						/^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,
						this.nombre,
						"nombre"
					);
				} else {
					//Guarda valor sin ultimo caracter que no es letra
					this.nombre = this.nombre.substring(0, this.nombre.length - 1);
				}
			} else {
				this.$store.state.formData.nombre = "";
				//Oculta advertencia INCORRECTO
				this.warningView("nombreInc", "none");
				//Muestra advertencia REQUERIDO
				this.warningView("nombreReq", "block");
			}
		},
		correo: function () {
			//version2
			//Quita espacios del inicio y del final
			this.correo = this.correo.trim(); //no funciona en el campo tipo email
			if (this.correo.length > 0) {
				//un caracter al menos
				//El mismo caracter se puede repetir hasta 3 veces seguidas
				this.correo = this.repetirCaracter(3, this.correo, null);
				//valida correo con expresion regular
				this.expresionRegularFinal(
					/^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
					this.correo,
					"correo"
				);
			} else {
				this.$store.state.formData.correo = "";
				//Oculta advertencia INCORRECTO
				this.warningView("correoInc", "none");
				//Muestra advertencia REQUERIDO
				this.warningView("correoReq", "block");
			}
		},
		cp: function () {
			//version2
			if (this.cp.length > 0) {
				//un caracter al menos
				var ultimoCaracter = this.cp.substring(
					this.cp.length - 1,
					this.cp.length
				);
				var result = this.checkCaracter(ultimoCaracter, "numero");
				if (result) {
					//El mismo caracter se puede repetir hasta 4 veces seguidas
					this.cp = this.repetirCaracter(4, this.cp, "33333");
					//valida que sean 10 numeros con expresion regular
					this.expresionRegularFinal(/^(\d){5}$/, this.cp, "cp");
				} else {
					//Guarda valor sin ultimo caracter no numerico
					this.cp = this.cp.substring(0, this.cp.length - 1);
				}
			} else {
				this.$store.state.formData.cp = "";
				//Oculta advertencia INCORRECTO
				this.warningView("cpInc", "none");
				//Muestra advertencia REQUERIDO
				this.warningView("cpReq", "block");
			}
		},
	},
};
</script>

<style scoped>

::placeholder {
  color: #495057;
}

</style>
